body {
    background-color: #833ab4;
    padding-top: 20%;
    padding-left: 42%;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    display: inline-block;
}

.button:hover {
    color: #833ab4;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.button:hover::before {
    left: 10;
    width: 150%;
}